<!DOCTYPE html>
<html>
  <head>
    <title>Xin 'Derek' Li</title>
    <link href="/css/home.css" rel="stylesheet"/>
  </head>
  <body>
    <header>
      <h3>Xin Li (Derek)</h3>
    </header>
    <nav>
      <ul>
        <li>
          <a>Introduction</a>
        </li>
        <li>
          <a>Blog</a>
        </li>
        <li>
          <a>Pictures</a>
        </li>
      </ul>
    </nav>

    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <footer>
      Copy Right Xin Li.
    </footer>
  </body>
</html>
