<!DOCTYPE html>
<html>
  <head>
    <title>Xin 'Derek' Li</title>
    <link href="/css/home.css" rel="stylesheet"/>
  </head>
  <body>
    <header>
      <h3>Xin Li Blog</h3>
    </header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
