:root {
  --main-color: #06c;
  --accent-color: #006;
}
body {
    background-color: powderblue;
}
header{
  margin: 1em;
  width: 100%;
  height: 60px;
  background-color: blue;
  position: fixed;
}

nav{
  float: left;
}
